__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
*.log
*.zip
.DS_Store
.flow_state.json
state_store/
input_source/*
output_delivery/*
logs/*
versions/*
!input_source/.gitkeep
!output_delivery/.gitkeep
!logs/.gitkeep
!versions/.gitkeep
src/*.egg-info/
test-results/
